
.product-menu {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.product-menu.visible {
    opacity: 1;
    visibility: visible;
}





/* Hide overflow to prevent scrollbar when text exceeds container */
#typing-animation {
    overflow: hidden;
  }

  

  .jump-svg {
    animation: jumpAnimation 0.3s infinite alternate;
  }
  
  @keyframes jumpAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  
  



  .animate-slide-in {
    animation: slideIn 1s ease forwards;
    opacity: 0;
    transform: translateX(-50px);
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }



   /* Our Services Hover */
   .hover-scale {
    transition: transform 0.5s ease-in-out;
  }

  .hover-scale:hover {
    transform: scale(1.03);
  }

  .card {
    transition: transform 0.4s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }




  @keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.animate {
    animation: zoomIn 1s forwards;
}





.portfolio-hover {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
}

.portfolio-img:hover .portfolio-hover {
  opacity: 1; /* Show on hover */
  transform: scale(1); /* Scale to 1 (normal size) */
  transition: opacity 0.5s, transform 0.5s;
}




.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}




